<div class="card w-80">
<h3>1. Create Employee Details Form </h3>
<ul>
  <li>Name*,Code*,Mobile*,Email*,Father's Name, Gender*(Radio),DOB(dd/mm/yy)</li>
  <li>Photo*(only jpg,png,jpeg)</li>
  <li>Aadhar Number & Attachment(only jpg,png,pdf,jpeg) - Multiple images</li>
  <li>Desplay data in Table(Name,Code,Mobile,Email,Father's Name, Gender,DOB(dd/mm/yy),Aadhar Number(clickable))</li>
  <li>Action (View Employee Image, View Aadhar Images, Create Job Application)</li>
  <li>Add a button above the list for Download as Excel</li>
</ul>
<h3>2. Create Image Gallary for Signle or Multiple Images</h3>
<ul>
  <li>Page should be usable as PopUp window on click</li>
  <li>Image Gallary should be responsive</li>
</ul>
<h3>3. Emport/Export Excel in Angular</h3>
<ul>
  <li>Export data from Angular table to Excel</li>
  <li>Import data from Excel and bind into angular table (Excel columns pre-defined)</li>
</ul>
<h3>4. Create a page for text editor and page should be openable as Popup window and child component both</h3>
<ul>
  <li>should have a button to get Editor value for save</li>
  <li>should have button to Export Editor text into PDF</li>
</ul>
<h3>5. Mail Sender</h3>
<ul>
  <li>Create a form for Send Mail (To*, CC, BCC, Subject, Body, Attachment)</li>
  <li>Form Should have a Send button to send Email</li>
</ul>


<b>Note : Please write down all the steps you follow to complete your task and this document should be understandable to
others so that these tasks can be completed without stopping.</b>
<br><br><br>
<code>
 git clone https://github.com/Harikrashna/ProjectCF.git <br>
 git add . <br>
 git commit 'Msg'<br>
 git push


  </code>
</div>
<router-outlet></router-outlet>